<div class="card">

    <form [formGroup]="transferForm" (submit)="onSubmit()" class="form-inline">
        <div class="card-body">

                <div class="row">
                        <div class="col-sm-4">
                            <h5 class="card-title">Self Transfer Amount</h5>
                          
                        </div>
        
            
                     
            
                    </div>
                    
                <div class="row">
                   
                        <div class="col-sm-4">
                                <input type="number" class="form-control" formControlName="transactionAmount"  placeholder="Self Transfer amount">
                            </div>

                            <div class="col-sm-4">
                                    <input type="text" class="form-control" formControlName="description" placeholder="Description">
                                </div>
            
                            <div class="col-sm-2">
                                    <input class="btn btn-primary" [disabled]="!transferForm.valid" type="submit" value="Transfer">
                            </div>
                        </div>

                        
                <div class="row">
                        <div class="col-sm-3">
                      <div *ngIf="transactionAmount.invalid && (transactionAmount.dirty || transactionAmount.touched)" class="text-danger">
                        <div *ngIf="transactionAmount.errors.required">
                            <p class="float-text-left">
                                transfer amount is required.</p>
                        </div>
          
                        <div *ngIf="transactionAmount.errors?.pattern">
                          <p class="has-error float-text-left">
                                transfer amount should be digits
                          </p>
                       </div>
          
                    </div>
                    </div>
                    <div class="col-sm-4">
                        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">
                          <div *ngIf="description.errors.required">
                              <p class="float-text-left">
                                  Description is required.</p>
                          </div>
            
                          <div *ngIf="description.errors?.pattern">
                            <p class="has-error float-text-left">
                                please provide valid description
                            </p>
                         </div>
            
                      </div>
                      </div>
          
              </div>

              <div class="row">
                    <div class="col-sm-8"> <p class="text-danger"> {{validateError}} </p>
                      <p class="text-success"> {{successMsg}}</p>
                    </div>
                  </div>

               
           
        
                </div>
            </form>
        
            </div>
    
