
<form [formGroup]="signUpForm" (submit)="onSubmit()">

    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Create Account</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          
            <div class="row">
                <div class="col-sm-2">
                  <input type="text" class="form-control" placeholder="First name" formControlName="firstName"  >
                </div>
               
                <div class="col-sm-2">
                  <input type="text" class="form-control" placeholder="Last name" formControlName="lastName" >
                </div>
             
              </div>
              <div class="row">
              <div class="col-sm-4">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-danger">
                    <div *ngIf="firstName.errors.required">
                      <p class="float-text-left">First Name is required.</p>
                    </div>
                   
                  </div>

                  <div *ngIf="firstName.errors?.pattern">
                      <p class="text-danger float-text-left">
                        First Name should be start with alphabetic
                      </p>
                   </div>
          </div>

    
          <div class="col-sm-4">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-danger">
                <div *ngIf="lastName.errors?.pattern">
                  <p class="float-text-left">
                    Last Name should be start with alphabetic
                  </p>
               </div>
              </div>
          
        </div>
          </div>
    
              <br>
    
              <div class="row">
                <div class="col-sm-2">
                  <input type="text" class="form-control" placeholder="User name" formControlName="userName" >
                </div>
              </div>
    
              <div class="row">
                  <div class="col-sm-4">
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
                  <div *ngIf="userName.errors.required">
                    <p class="float-text-left"> User Name is required.</p>
                  </div>
    
                  <div *ngIf="userName.errors?.pattern">
                    <p class="has-error float-text-left">
                      user name should be start with alphabetic
                    </p>
                 </div>
                </div>
                </div>
    
              </div>
    
              <br>
    
              <div class="row">
                <div class="col-sm-2">
                  <input type="text" class="form-control" placeholder="Email" formControlName="email">
                </div>
             
                <div class="col-sm-2">
                  <input type="number" class="form-control" placeholder="Phone Number" formControlName="phone" >
                </div>
             
              </div>
    
              <div class="row">
                
                <div class="col-sm-3">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                  <div *ngIf="email.errors.required">
                      <p class="float-text-left">email is required.</p>
                  </div>
    
                  <div *ngIf="email.errors?.email">
                    <p class="has-error float-text-left">
                      email should be valid one
                    </p>
                 </div>
                </div>
                </div>

                <div class="col-sm-4">
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
                      <div *ngIf="phone.errors.required">
                          <p class="float-text-left"> phone is required.</p>
                      </div>
        
                      <div *ngIf="phone.errors?.pattern">
                        <p class="has-error float-text-left">
                          phone should be number,doesnt allow more than 10 digits 
                        </p>
                     </div>
                    </div></div>
              </div>
    
              <br>
    
              <div class="row">
                <div class="col-sm-2">
                  <input type="number" class="form-control" placeholder="Start Balance" formControlName="startBalance" >
                </div>
            
               
                <div class="col-sm-2">
                  <input type="password" class="form-control" placeholder="Password" formControlName="password" >
                </div>
              </div>
    
            
    
              <div class="row">
                  <div class="col-sm-3">
                <div *ngIf="startBalance.invalid && (startBalance.dirty || startBalance.touched)" class="text-danger">
                  <div *ngIf="startBalance.errors.required">
                      <p class="float-text-left">
                    startBalance is required.</p>
                  </div>
    
                  <div *ngIf="startBalance.errors?.pattern">
                    <p class="has-error float-text-left">
                      startBalance should be digits
                    </p>
                 </div>
    
              </div>
              </div>
              <div class="col-sm-4">
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                    <div *ngIf="password.errors.required">
                        <p class="float-text-left">
                            password is required.</p>
                    </div>
      
                    <div *ngIf="password.errors?.pattern">
                      <p class="has-error float-text-left">
                          password should be minmum 6 and maximum 12 alphanumeric
                      </p>
                   </div>
      
                </div>
                </div>
                
    
        </div>

        <div class="row">
            <div class="col-sm-8"> <p class="text-danger"> {{validateError}} </p>
              <p class="text-success"> {{successMsg}}</p>
            </div>
          </div>
    
        <br>

        <div class="row">
            <div class="col-sm-2">
              <input type="submit" class="btn btn-success float-left" [disabled]="!signUpForm.valid" value=" Submit">&nbsp;
              <button type="reset" class="btn btn-primary ">Cancel</button>&nbsp;
            </div>
          </div>
    
        <br>
        <br>
    
        <div class="card-footer text-muted">
          <p style="float: right"><button type="button" class="btn btn-link"  (click)="signIn()">Sign In</button> 
          </p>
        </div>
    
        
      </div>
      </div>
      </form>
    
    