<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="card-title">Accound Number</h5>
                <p class="card-text">{{accountNumber}}</p>
            </div>

            <div class="col-sm-1">
                <button (click)="loadData()" class="btn btn-primary">Refresh</button>
            </div>
            <div class="col-sm-1">
                    <button (click)="downloadCSV()" class="btn btn-info">CSV</button>
             </div>
             <div class="col-sm-1">
                    <button (click)="downloadXML()" class="btn btn-secondary">XML</button>
             </div>

        </div>

        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
        <table  class="table table-stripe">
            <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Reference</th>
                    <th>Description</th>
                    <th>Start Balance</th>
                    <th>Transfer Type</th>
                    <th>Transfer Amount</th>
                    <th>End Balance</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let item of transactionData  | paginate: { itemsPerPage: 5, currentPage: p };let i=index ">
                     <td>{{item.transactionDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                    <td>{{item.reference}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.startBalance}}</td>
                    <td>{{item.transactionType}}</td>
                    <td>{{item.transactionAmount}}</td>
                    <td>{{item.endBalance}}</td>
                     </tr>
            </tbody>
            
        </table>
        
        </div>
        
        <div class="col-sm-1"></div>
        </div>
        <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
                <div class="col-sm-1"></div>
    </div>
</div>
<br>
